.git
.gitignore
.cursor
.next
**/.next
node_modules
**/node_modules
.data
**/.env
**/.env.local
.env
.env.local
*.tsbuildinfo
**/__pycache__
**/*.pyc
tmp
.github
PIPELINE.md
README.md
docker-compose.yml
apps/web/.next
